@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,300;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    90deg,
    #FF3E08,
    #E15959,
    #FF3E08 99%
  );
}
html {
  font-size: 62.5%;
}

/* ------------nav-------------- */
header{
   display: flex;
   align-items:center;
   justify-content: space-between;
   padding: 2rem;
   background-color: #ececec;
}

.logo{
  max-width: 19rem;
}

.nav-list{
  list-style: none;
  display: flex ;
}

.nav-list li a{
  text-decoration: none;
  color: #FF3E08;
}



/* ------------ carrousel-------------- */
.swiper {
  width: 100%;
}

.swiper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: white;
  --swiper-navigation-size: 20px;
  background-color: rgba(144, 10, 10, 0.9668242296918768);
  height: 40px;
  width: 50px;
  opacity: 0;
  transition: opacity 0.5s;
}
.swiper .swiper-button-prev {
  border-radius: 15px 15px 35px 35px;
}
.swiper .swiper-button-next {
  border-radius: 15px 15px 35px 35px;
}
.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  opacity: 1;
}
.swiper .swiper-pagination {
  --swiper-pagination-color: rgba(144, 10, 10, 0.9668242296918768);
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-inactive-color: gray;
  --swiper-pagination-bullet-horizontal-gap: 3px;
}

/* ------------------ main----------------- */
.datos {
  text-align: center;
  color: white;
}
.map {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.shop-container {
  margin-top: 10px;
  text-align: start;
}
.shop-titulo {
  font-weight: 400;
  margin: 30px;
  font-size: 4rem;
  padding-left: 8rem;
  letter-spacing: 3px;
}
.card-container {
  width: 100%;
  height: 100%;
  max-width: 1208px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.card-container .cards {
  background-color: white;

  width: 350px;
  height: 650px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.card-container .cards:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
}

.card-container .cards img {
  width: 330px;
  height: 500px;
  padding: 10px;
}

.card-container .cards h3 {
  font-weight: bold;
  font-size: 2.3rem;
  letter-spacing: 2px;
}

.buton-card {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  padding: 20px 50px;
  letter-spacing: 2px;
  border: 3px solid rgba(144, 10, 10, 0.9668242296918768);
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
  transition: all 0.6s ease;
}

.buton-card:hover {
  background-color: rgba(144, 10, 10, 0.9668242296918768);
  color: white;
}

/* ------swiper products-------------- */
.swiper-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}
.swiper-name h4 {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3px;
}
.swiper-name h2 {
  display: block;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 11px;
}
.swiper-product {
  width: 100%;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}

.swiper-product .swiper-slide img {
  display: block;
  margin: auto;
  padding-top: 40px;
  object-fit: cover;
  width: 570px;
  height: 390px;
}

/* ------------------footer---------------- */
footer {
  width: 100%;
  color: rgb(1999, 39, 3);
  font-size: 15px;
}

.footer-link {
  text-decoration: dashed;
}
.footer-contenidos {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

.footer-nosotros img {
  margin-bottom: 0.75rem;
  width: 110px;
  height: 100px;
}

.footer-social-media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

.footer-social-media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  border-radius: 50%;
  transition: all 0.4s;
}
.footer-social-media .footer-link i {
  font-size: 1.25rem;
}
.footer-social-media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-listas {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}
.footer-listas .footer-link {
  color: rgb(1999, 39, 3);
}
.footer-listas .footer-link:hover {
  color: #7f37c9;
}
.footer-contactar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-contactar p {
  color: rgb(1999, 39, 3);
}

.input-grupo {
  display: flex;
  align-items: center;
  background-color: wheat;
  border-radius: 4px;
}
.input-grupo input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}
.input-grupo button {
  background-color: rgb(1999, 39, 3);
  border: none;
  color: black;
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}
.input-grupo button:hover {
  opacity: 0.8;
}

.footer-copyrigth {
  display: flex;
  justify-content: center;
  background-color: rgba(212, 52, 52, 1);
  font-size: 1.1rem;
  padding: 0.9rem;
  font-weight: 700;
}
.link-yo {
  text-decoration: none;
  color: white;
}

/* --------------PRODUCTOS------------------ */
.title-product{
  display: flex ;
  flex-direction: column;
  letter-spacing: 3px;
  background-image: url(../img/top-categoria.jpg);
  align-items: center;
  height: 203px;
  color: white;
}
.title-product h1{
  font-size: 30px;
  font-weight: bold;
  display: block;
  margin-top: 40px;
}

.title-product h2{
  font-weight: 600;
  letter-spacing: 10px;
  margin-top: 16px;
  font-size: 25px;
  display: block;
}
.container{
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
}
.product-container{
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.product-container img{
  width: 200px;
  height: 200px;
}

.prod-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #404258;
  border-radius: 10px;
  margin: 25px;
  background-color: white;
  width: 200px;
  padding: 2rem;
  transition: all 0.20s;
}

.prod-cards:hover{
  transform: translateY(-15px);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.precio-producto{
  margin-top: 20px;
  font-size: 25px;
  color: rgb(15, 136, 15);
  font-weight: 600;
}
.name-product{
  font-size: 2.4rem;
  font-weight: 600;
}

.b-product{
  padding: 10px 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  margin-top: 10px;
}
.btn-41 {
  border: 2px solid rgb(0, 0, 0);
  z-index: 1;
  color: black;
  border-radius: 5px;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: black;
  transition: all 0.3s ease;
}


.btn-41:hover {
  color: white;
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
  
}


/* -------------medias querys------------------- */
@media (max-width: 1440px){

}
@media (max-width: 1024px) {
 
  .swiper img {
    height: 344px;
  }

  /* --------media query productos--------- */

  .product-container{
    display: grid;
   place-items: center;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center; 
    margin-top: 5px; 
 }
}

@media (max-width: 768px) {
  body{
    overflow: hidden;
  }


  

  .swiper img {
    height: 268px;
  }

  
  .footer-contenidos {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .swiper-product .swiper-slide img {
    width: 400px;
    height: 300px;
  }
  /* ------meadiaquery productos------ */

  .product-container{
     display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; 
     margin-top: 5px; 
  }
}

@media (max-width: 425px) {
  html {
    font-size: 50%;
  }

  .footer-contenidos {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }

  .swiper img {
    height: 144px;
  }
  
  .shop-titulo {
    padding-left: 0.6rem;
    font-weight: 800;
  }

  .swiper-product .swiper-slide img {
    width: 400px;
    height: 260px;
  }
  
  /* --------media querys productos-------- */
  
  .title-product{
    height: 150px;
    width: 100%;
  }
  .title-product h1{
    display: block;
    margin-top: 20px;
  }
  .title-product h2{
    display: block;
    letter-spacing: 5px;
    margin-top: 10px;
  }
  .product-container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-top: 5px;
  }
}



