@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #C70039;
}

/* ------------nav-------------- */
header{
    background-color: #FBFBFB;
    justify-content: space-between;
    display: flex;
    padding: 20px;
    align-items: center;
    border: solid black 3px;
  }
a {
    text-decoration: none;
    color: rgb(1999, 39, 3);
  }
  
  .nav img {
    width: 4.5rem;
    height: 4.5rem;
  }
  
  .nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  /* ------------------ main----------------- */


  .map{
       display: flex;
       justify-content: center;
       margin: 30px;
  }